fastapi
uvicorn
python-dotenv
gspread
google-auth
google-auth-oauthlib
pydantic
python-multipart
cachetools
python-jose
google-api-python-client
google-auth-httplib2
aiosmtplib
pg8000
bcrypt
PyPDF2
openpyxl
httpx
